.about-us {
  margin-bottom: 61px;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
}

.about-us__title {
  font-size: 25px;
  line-height: 30px;
}

.about-us__wrapper {
  width: 260px;
  margin: 0 auto;
}

@media (min-width: 768px) {

  .about-us__wrapper {
    width: 668px;
  }

  .about-us__title {
    font-size: 43px;
    line-height: 50px;
  }
}
