.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.advantages-list__wrap-img {
  min-height: 55px;
}

.advantages-list__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 27px;
}

.advantage__icon {
  margin-left: 10px;
  margin-bottom: 20px;
  fill: #62d1ba;
}

.advantage__icon--money {
  position: relative;
  left: -9px;
  top: 5px;
}

.advantage__icon--flower {
  top: 5px;
  position: relative;
}

.advantage__icon--heart {
  position: relative;
  top: 10px;
}

.advantage__icon--ball {
  position: relative;
  top: 4px;
  left: -5px;
}

.advantage__icon--rocket {
  position: relative;
  top: 7px;
  left: -13px;
}

.advantage__icon--present {
  position: relative;
  left: -5px;
  top: 5px;
}

@media (min-width: 768px) {
  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages-list__text {
    font-size: 20px;
  }

  .advantages-list__item {
    width: 248px;
    margin-right: 0;
    margin-bottom: 60px;
  }

  .advantage-1 {
    order: 1;
    width: 220px;
    margin-bottom: 0;
  }

  .advantage-2 {
    order: 3;
    width: 240px;
  }

  .advantage-3 {
    order: 5;
    width: 250px;
  }

  .advantage-4 {
    order: 2;
    margin-left: auto;
    margin-right: 88px;
  }

  .advantage-5 {
    order: 4;
    margin-left: auto;
    margin-right: 88px;
  }

  .advantage-6 {
    order: 6;
    margin-left: auto;
    margin-right: 88px;
  }

  .advantages-list__wrap-img {
    min-height: 55px;
  }

  .advantage__icon {
    margin-bottom: 13px;
  }

  .advantage__icon--rocket {
    top: 5px;
  }

  .advantage__icon--heart {
    position: relative;
    top: 5px;
  }
}

@media (min-width: 1150px) {
  .catalog-list__link {
    width: 525px;
    padding-left: 37px;
  }

  .advantages-list__item {
    width: 262px;
    margin-bottom: 60px;
  }
}
