.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.advantages-list__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 27px;
}

.advantage__icon {
  margin-left: 10px;
  margin-bottom: 20px;
}

.advantage__icon--money {
  position: relative;
  left: -9px;
  margin-bottom: 27px;
}

.advantage__icon--ball {
  position: relative;
  top: 4px;
  left: -5px;
}

.advantage__icon--rocket {
  position: relative;
  top: -7px;
  left: -13px;
}

.advantage__icon--present {
  position: relative;
  left: -5px;
}

.advantage-2 {
  margin-bottom: 35px;
}

.advantage-4 {
  margin-bottom: 41px;
}

.advantage-5 {
  margin-bottom: 31px;
}

@media (min-width: 768px) {
  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages-list__item {
    width: 248px;
    margin-right: 136px;
  }

  .advantage-1 {
    order: 1;
    width: 200px;
  }

  .advantage-2 {
    order: 3;
    width: 200px;
  }

  .advantage-3 {
    order: 5;
    width: 200px;
  }

  .advantage-4 {
    order: 2;
    margin-right: 0;
  }

  .advantage-5 {
    order: 4;
    margin-right: 0;
  }

  .advantage-6 {
    order: 6;
    margin-right: 0;
  }
}
