.bestseller-table {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #444444;
  margin-bottom: 17px;
}

.bestseller-table__row {
  width: 260px;
  display: flex;
  margin-bottom: 10px;
  position: relative;
  border-bottom: 1px solid #ececec;
  padding-bottom: 7px;
}

.bestseller-table__data {
  min-width: 95px;
  text-align: left;
}

@media (min-width: 768px) {
  .bestseller-table__data {
    font-weight: 400;
  }

  .bestseller-table {
    margin-left: -3px;
  }
}
