.bestseller {
  width: 260px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 126px;
  margin-bottom: 20px;

}

.bestseller__good {
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;

}

.bestseller__title {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: #63d1bb;
  margin: 0;
}

.bestseller__label {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #444444;
}

.bestseller-table {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #444444;
}

.bestseller__btn {
  display: block;
  text-align: center;
  margin-top: 29px;
}

.bestseller__price {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #444444;
  margin: 0;
  margin-top: 29px;
  text-align: center;
}


.bestseller__wrap-btn {
  position: absolute;
  left: 25%;
  bottom: 0px;
}

@media (min-width: 768px) {
  .bestseller {
    width: 668px;
    display: flex;
    flex-wrap: wrap;
  }

  .bestseller__good {
    font-size: 43px;
    line-height: 50px;
  }

  .bestseller__title {
    line-height: 17px;
    text-align: center;
    width: 70px;
    align-self: center;
    margin-left: auto;
    margin-right: 28px;
  }

  .bestseller__wrap-bestseller {
    display: flex;
  }

  .bestseller__wrap-description {
    width: 291px;
    margin-right: 43px;
  }

  .bestseller__wrap-btn {
    position: relative;
    left: 0;
    bottom: 0;

  }

  .bestseller__img {
    width: 334px;
    height: 404px;
  }
}

@media (min-width: 1150px) {
  .bestseller {
    width: 1050px;
  }

  .bestseller__wrap-bestseller {
    display: flex;
    width: 525px;
  }

  .bestseller__img {
    width: 525px;
  }

  .bestseller__wrap-description {
    margin-right: 0;
    width: 290px;
    margin-left: auto;
    margin-right: 58px;
  }

}
