.bestseller {
  width: 260px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 126px;
  margin-bottom: 64px;
}

.bestseller__good {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
}

.bestseller__title {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: #63d1bb;
  margin: 0;
  margin-top: 5px;
}

.bestseller__label {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #444444;
  margin-top: 23px;
  margin-bottom: 24px;
}

.bestseller__btn {
  display: block;
  color: #444444;
  margin-top: 25px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  padding: 17px 60px 17px 61px;
  border: 2px solid #444444;
  background-color: #ffffff;
  text-decoration: none;
}

.bestseller__price {
  width: 260px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #444444;
  margin: 0;
  margin-top: 30px;
  text-align: center;
}

.bestseller__wrap-btn {
  position: absolute;
  bottom: 3px;
  margin: 0 auto;
}

.bestseller-wrap {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/bg-zigzag-line.svg");
    bottom: -40px;
    background-size: 320px auto;
    background-repeat: repeat-x;
    background-position: center top;
    width: 100%;
    height: 7px;
  }
}

@media (min-width: 768px) {
  .bestseller {
    width: 668px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 52px;
    margin-bottom: 60px;
  }

  .bestseller__good {
    font-size: 43px;
    line-height: 50px;
  }

  .bestseller__btn {
    display: block;
    margin: auto;
    color: #444444;
    margin-top: 34px;
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 31px 18px 35px;
    border: 2px solid #444444;
    background-color: #ffffff;

    &:hover {
      background-color: #444444;
      color: #ffffff;
    }

    &:active {
      color: #b2b2b2;
    }
  }

  .bestseller__title {
    line-height: 17px;
    text-align: center;
    width: 70px;
    align-self: center;
    margin-left: auto;
    margin-right: 28px;
  }

  .bestseller-wrap {
    &::after {
      background-size: 768px auto;
      height: 17px;
      bottom: -13px;
    }
  }

  .bestseller__label {
    margin-top: 0;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 42px;
  }

  .bestseller__wrap-bestseller {
    display: flex;
  }

  .bestseller__wrap-description {
    width: 291px;
    margin-right: 43px;
  }

  .bestseller__price {
    font-size: 20px;
    margin-top: 46px;
    width: 290px;
  }

  .bestseller__wrap-btn {
    position: relative;
    left: 0;
    bottom: 0;
  }

  .bestseller__img {
    width: 334px;
    height: auto;
    margin-top: 8px;
  }

  .bestseller__header {
    display: flex;
    width: 668px;
    margin-bottom: 49px;
  }

  .bestseller__inner {
    display: flex;
  }
}

@media (min-width: 1150px) {
  .bestseller {
    width: 1050px;
    display: flex;
    flex-direction: column;
  }

  .bestseller-wrap {
    margin-bottom: 102px;

    &::after {
      bottom: -38px;
      height: 23px;
      background-size: 1150px;
    }
  }

  .bestseller__wrap-bestseller {
    width: 525px;
    padding-top: 52px;
  }

  .bestseller__inner {
    display: flex;
    margin-top: -50px;
  }

  .bestseller__img {
    width: 525px;
    margin-top: -105px;
  }

  .bestseller__wrap-description {
    width: 292px;
    margin-left: auto;
    margin-right: 58px;
  }

  .bestseller__header {
    position: relative;
    display: flex;
    width: 800px;
    margin-left: -2px;
  }

  .bestseller__good {
    order: 1;
    font-size: 53px;
  }

  .bestseller__title {
    margin-left: 47px;
    margin-right: 58px;
  }

  .bestseller__label {
    margin-bottom: 53px;
  }

  .bestseller__price {
    margin-top: 101px;
  }
}
