.bestseller {
  width: 260px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 126px;
  margin-bottom: 80px;
}

.bestseller__good {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
}

.bestseller__title {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: #63d1bb;
  margin: 0;
}

.bestseller__label {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #444444;
}

.bestseller-table {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #444444;
}

.bestseller__btn {
  display: block;
  color: #444444;
  margin-top: 20px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  padding: 19px 60px 20px 61px;
  border: 2px solid #444444;
  background-color: #ffffff;
}

.bestseller__price {
  width: 260px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #444444;
  margin: 0;
  margin-top: 29px;
  text-align: center;
}

.bestseller__wrap-btn {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
}

.bestseller__wrap {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 320px;
    height: 23px;
    background-image: url("../img/bg-zigzag-line.svg");
    bottom: -60px;
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: 768px) {
  .bestseller {
    width: 668px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 52px;
  }

  .bestseller__good {
    font-size: 43px;
    line-height: 50px;
  }

  .bestseller__btn {
    display: block;
    margin: auto;
    color: #444444;
    margin-top: 20px;
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 101px 20px 101px;
    border: 2px solid #444444;
    background-color: #ffffff;
  }

  .bestseller__title {
    line-height: 17px;
    text-align: center;
    width: 70px;
    align-self: center;
    margin-left: auto;
    margin-right: 28px;
  }

  .bestseller__wrap-bestseller {
    display: flex;
  }

  .bestseller__wrap-description {
    width: 291px;
    margin-right: 43px;
  }

  .bestseller__price {
    margin-top: 60px;
    width: 290px;
  }

  .bestseller__wrap-btn {
    position: relative;
    left: 0;
    bottom: 0;
  }

  .bestseller__img {
    width: 334px;
    height: auto;
  }

  .bestseller__header {
    display: flex;
  }

  .bestseller__inner {
    display: flex;
  }
}

@media (min-width: 1150px) {
  .bestseller {
    width: 1050px;
    display: flex;
    flex-direction: column;
  }

  .bestseller__wrap-bestseller {
    width: 525px;
    padding-top: 50px;
  }

  .bestseller__inner {
    display: flex;
    margin-top: -50px;
  }

  .bestseller__img {
    width: 525px;
  }

  .bestseller__wrap-description {
    width: 290px;
    margin-left: auto;
    margin-right: 58px;
  }

  .bestseller__header {
    position: relative;
    display: flex;
  }

  .bestseller__good {
    order: 1;
  }

  .bestseller__title {
    margin-left: 47px;
    margin-right: 58px;
  }
}
