.catalog__wrapper {
  background-color: #f1f1f1;
}

.catalog__title {
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  padding: 0;
  padding-top: 70px;
  padding-bottom: 77px;
  text-align: center;
  margin-bottom: 30px;
}

.catalog-list-catalog {
  width: 260px;
  margin: auto;
}

@media (min-width: 768px) {
  .catalog__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 46px;
    padding-bottom: 36px;
  }

  .catalog__wrapper {
    padding-top: 50px;
    padding-bottom: 0;
    margin-top: -57px;
    border-top: 1px solid #ececec;
    margin-bottom: 68px;
  }

  .catalog__wrapper::after {
    content: "";
    display: block;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-size: 768px;
    height: 22px;
  }
}

@media (min-width: 1150px) {
  .catalog-list-catalog {
    width: 1050px;
    display: flex;
    margin: 0 auto;
  }

  .catalog__wrapper {
    margin-top: -75px;
    position: relative;
    padding-bottom: 47px;
    margin-bottom: 123px;

    &::after {
      position: absolute;
      z-index: 10;
      bottom: 0;
      background-size: 1150px;
      width: 100%;
    }
  }

  .catalog__title {
    font-size: 53px;
  }
}
