.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: -48px;
  margin-bottom: 34px;
}

.catalog-list__item {
  width: 100%;
  background-color: #63d1bb;
  margin: 0 auto;
}


.catalog-list__link {
  display: flex;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 35px;
  padding-bottom: 34px;
  text-decoration: none;
}

.catalog-list__item--dark {
  background-color: #56c3b2;
}

.catalog-list__text {
  color: #ffffff;
  font-family: "Open Sans", "Verdana", "Geneva", sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  width: 30%;
}

@media (min-width: 768px) {
  .catalog-list {
    position: relative;
    display: flex;
    width: 668px;
    margin: auto;
    margin-top: -135px;
  }
  .catalog-list__item {
    width: 334px;
  }
  .catalog-list__text {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 1150px) {
  .catalog-list {
    width: 1050px;
  }
  .catalog-list__item {
    width: 525px;
  }
  .catalog-list {
    margin-bottom: 50px;
  }
}
