.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: -48px;
  margin-bottom: 27px;
}

.catalog-list__item {
  width: 100%;
  background-color: #63d1bb;
  margin: 0 auto;
}


.catalog-list__link {
  display: flex;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 18px;
  padding-bottom: 24px;
  text-decoration: none;
}

.catalog-list__icon--interior {
  position: relative;
  right: 5px;
  top: 5px;
}

.catalog-list__item--dark {
  background-color: #56c3b2;
}

.catalog-list__text {
  color: #ffffff;
  font-family: "Open Sans", "Verdana", "Geneva", sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  width: 30%;
}

@media (min-width: 768px) {
  .catalog-list {
    position: relative;
    display: flex;
    width: 668px;
    margin: auto;
    margin-top: -127px;
    margin-bottom: 47px;
  }

  .catalog-list__link {
    padding-top: 26px;
    padding-bottom: 29px;
  }

  .catalog-list__item {
    width: 334px;

    &:hover {
      margin-top: -5px;
      padding-bottom: 5px;
    }

    &:hover .catalog-list__text {
      margin-top: -5px;
    }

    &:hover .catalog-list__icon--interior {
      top: 0;
    }

    &:active .catalog-list__text {
      opacity: 0.3;
    }

    &:active .catalog-list__icon--interior {
      opacity: 0.3;
    }

    &:active .catalog-list__icon--toy {
      opacity: 0.3;
    }
  }

  .catalog-list__text {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 1150px) {
  .catalog-list {
    width: 1050px;
    margin-bottom: 129px;
    margin-top: -119px;
  }

  .catalog-list__item {
    width: 525px;
  }
}
