.copyright__text {
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  color: #000000;
}

.copyright__link {
  display: block;
  background-image: url("../img/logo-htmlacademy.svg");/*здесь как-то по другому надо вставлять свг, чтобы цвет менять*/
  background-repeat: no-repeat;
  width: 27px;
  height: 34px;
  margin-left: auto;
}
