.footer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.footer__contacts {
  width: 260px;
}

.contacts__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.footer__social-wrap,
.footer__copyright-wrap {
  display: flex;
  position: relative;
  width: 260px;
  margin: 0 auto;
  align-items: center;
}

.footer__copyright-wrap {
  width: 182px;
  padding-top: 22px;
  padding-bottom: 23px;
}

.footer__social-wrap {
  width: 140px;
  justify-content: space-between;
  padding-top: 29px;
  padding-bottom: 23px;
}

.footer__copyright-wrap::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: -40px;
  width: 260px;
  height: 1px;
  background-color: #e5e5e5;
}

.footer__copyright-text {
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  color: #000000;
}

.footer__copyright-link {
  display: block;
  background-image: url("../img/logo-htmlacademy.svg");/*здесь как-то по другому надо вставлять свг, чтобы цвет менять*/
  background-repeat: no-repeat;
  width: 27px;
  height: 34px;
  margin-left: auto;
}

.footer__map {
  padding-bottom: 108px;
  width: 100%;
  text-align: center;
}

.footer__wrap {
  width: 100%;
}

.footer__wrap--background {
  background-color: #f1f1f1;
}

.footer__btn {
  display: block;
  width: 260px;
  margin: 0 auto;
  position: absolute;
  bottom: 198px;
  left: 50%;
  transform: translateX(-50%);
  line-height: 16px;
  color: #444444;
  letter-spacing: 0.4px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 33px 16px 32px;
  border: 2px solid #444444;
  background-color: #ffffff;
}

.footer__hidden {
  display: none;
}

@media (min-width: 768px) {
  .footer__map {
    width: 100%;
    padding-bottom: 160px;
  }

  .footer__map-img {
    margin: 0;
    margin-top: 20px;
  }

  .footer__map-img iframe {
    width: 768px;
    height: 457px;
  }

  .footer__btn {
    width: 230px;
    font-size: 17px;
    padding-top: 17px;
  }

  .footer__social-block {
    width: 668px;
    display: flex;
    margin: 0 auto;
  }

  .footer__social-wrap {
    width: 138px;
    margin-right: 86px;
  }

  .footer__copyright-wrap {
    padding-top: 53px;
    padding-bottom: 53px;
  }

  .footer__hidden {
    display: block;
    align-self: center;
  }
}

@media (min-width: 1150px) {
  .footer__wrap--desktop {
    display: flex;
    width: 1050px;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  .footer__wrap-contacts {
    width: 525px;
  }

  .footer__social-block {
    width: 1050px;
  }

  .footer__btn {
    position: static;
    left: auto;
    transform: none;
    margin: 0 auto;
    margin-left: 33%;
    margin-top: 40px;
  }

  .footer__map {
    width: 525px;
    padding-bottom: 0;
    margin-top: -95px;
  }

  .footer__map iframe {
    width: 100%
  }

  .footer__copyright-wrap {
    margin-right: 3px;
    padding-top: 54px;
    padding-bottom: 53px;
  }

  .footer__social-wrap {
    margin-right: auto;
    padding-left: 75px;
  }
}
