.menu {
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    padding-left: 46px;
}

.menu__item-link {
  text-decoration:none;
  color: #000000
}

.menu__item {
  margin-top: 32px;
  margin-bottom: 30px;
}

.menu__item-mobile-hidden {
  display: none;
}

.menu__item-img {
  position: absolute;
  left: 32px;
  opacity: 0.2;
}

@media (min-width: 768px) {
  .menu {
    width: 668px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .menu__item {
  margin-top: 0px;
  }

  .menu__item-mobile-hidden {
    display: block;
  }

  .menu__item-img {
  position: absolute;
  top: 2px;
  left: -60px;
  opacity: 0.2;
  }
  .menu__item-img--position {
    left: -80px;
    top: 4px;
  }
  .logo__close,
  .menu__search-block-hidden {
    display: none;
  }
  .menu__item-order-1 {
    order: 1;
  }

  .menu__item-order-2 {
    font-size: 15px;
    order: 3;
    margin-right: 30px;
  }

  .menu__item-order-3 {
    font-size: 15px;
    order: 4;
  }

  .menu__item-order-4 {
    position: relative;
    order: 1;
  }
  .menu__item-order-5 {
    margin-left: auto;
    position: relative;
    order: 2;
  }

  .menu__item-order-5::before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 88px;
    background-color: #ececec;
    top: -22px;
    left: -85px;
  }

  .menu__item-order-5::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 88px;
    background-color: #ececec;
    top: -22px;
    left: -167px;
  }

  .menu__item-order-6 {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #444444;
    position: relative;
    order: 5;
    margin: 0;
    margin-left: auto;
  }
  .menu__item-text {
    margin: 0;
  }
}
