.menu {
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.menu__item-link {
  text-decoration:none;
  color: #000000;
  display: block;
  padding-top: 32px;
  padding-bottom: 30px;
}

.menu__item {
  padding-left: 46px
}

.menu__item::before {
    content: "";
    display: block;
    position: absolute;
    margin-top: 85px;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    height: 1px;
    background-color: #ececec
}

.menu__item-mobile-hidden {
  display: none;
}

.menu__search-block-hidden {
  display: none;
}

.menu__item-img {
  position: absolute;
  left: 32px;
  opacity: 0.2;
}

.menu__intro-mobile-hidden {
  display: none;
}

@media (min-width: 768px) {
  .menu {
    width: 668px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .menu__item {
  margin-top: 0px;
  }

  .menu__item--catalog,
  .menu__item--order {
    width: 167px;
    padding-left: 0;
    font-size: 15px;
  }

  .menu__item-link {
    padding: 0
  }

  .menu__item-mobile-hidden {
    display: block;
  }

  .menu__item-text--hidden {
    display: none;
  }

  .menu__item--form {
    margin: 0;
    padding: 0;
  }

  .menu__item::before {
    content: none;
  }

  .menu__item-img {
  opacity: 0.2;
  left: 0px;
  }

  .menu__item-img--position {
    left: -80px;
  }
  .header__menu--search-form::before {
    content: "";
    display: block;
    position: absolute;
    left: -20px;
    top: -30px;
    width: 1px;
    height: 88px;
    background-color: #ececec;
  }

  .header__menu--search-form::after {
    content: "";
    display: block;
    position: absolute;
    top: -30px;
    left: -120px;
    width: 1px;
    height: 88px;
    background-color: #ececec;
  }

  .logo__close,
  .menu__search-block-hidden {
    display: none;
  }

  .menu__item-text {
    margin: 0;
  }

  .menu__intro-mobile-hidden {
    display: block;
    order: 2;
    font-size: 15px;
    line-height: 24px;
    color: #444444;
    font-weight: 400;
    margin-left: auto;
  }
}

@media (min-width: 1050px) {
  .menu {
    width: 1050px;
  }

  .menu__item-link {
    padding-top: 27px;
    padding-bottom: 28px;
  }

  .menu__item {
    padding-left: 0;
    margin-right: 60px;
  }

  .menu__item-link--padding {
    padding: 0
  }

  .menu__item--cart-link {
    margin-right: 0px;
  }

  .header__menu--search-form::before {
    left: 80px;
    top: -10px;
  }

  .header__menu--search-form::after {
    top: -10px;
    left: 160px;
  }

  .menu__item-img {
    left: 190px;
  }

  .menu__item-img--position {
    left: 110px;
    top: 27px;
  }

  .menu__item--catalog {
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 1px;
      height: 88px;
      background-color: #ececec;
      top: -9px;
      left: 167px;
    }
  }
}
