.modal {

}
.modal__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}
.modal__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}
.modal-form__radio-label {
  font-size: 17px;
  font-weight: 700;
  line-height: 26px;
  color: #444444
}
.modal__btn {
  color: #ffffff;
  border-color: #63d1bb
}
