.video-block {
  position: relative;
  width: 260px;
  margin: auto;
  margin-bottom: 58px;
}

.video-block__wrapper {
  border: 1px solid #ececec;
}

.video-block__title {
  margin-left: 39px;
  display: flex;
  align-items: center;
  padding-bottom: 188px;
  margin-bottom: 0;
}

.video-block__title-text {
  margin-left: 25px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

.video-block__text {
  width: 185px;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #444444;
  margin-left: 34px;
  margin-bottom: 26px;
}

.video-block__btn {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  width: 192px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 15px 6px 16px 6px;
  box-sizing: border-box;
  margin: 0 auto;
  border: 2px solid #444444;
  color: #444444;
  margin-bottom: 33px;
}

@media (min-width: 768px) {
  .video-block {
    width: 668px;
    margin-top: 53px;

    &::after {
      width: 100%;
      bottom: -46px;
    }
  }

  .video-block__title {
    padding-bottom: 0;
    margin-top: 25px;
  }

  .video-block__title-text {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
    margin-left: 35px;
  }

  .video-block__text {
    font-size: 15px;
    line-height: 30px;
    width: 582px;
    margin-top: 24px;
    margin-left: 39px;
    margin-bottom: 37px;
  }

  .video-block__btn {
    margin: 0 auto;
    width: 584px;

    &:hover {
      background-color: #444444;
      color: #ffffff;
    }

    &:active {
      color: #b2b2b2;
    }
  }

  .video-block__wrapper {
    margin-bottom: 66px;
  }
}

@media (min-width: 1050px) {
  .video-block {
    width: 1050px;
    margin-top: 2px;
    margin-bottom: 58px;

    &::after {
      content: none;
    }
  }

  .video-block__wrapper {
    display: flex;
    margin-bottom: 105px;

    &::before {
      content: "";
      position: absolute;
      width: 367px;
      background-color: #ececec;
      height: 1px;
      right: 0;
      top: 1px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 367px;
      background-color: #ececec;
      height: 1px;
      right: 0;
      bottom: 0;
    }
  }

  .video-block__btn {
    width: 230px;
    padding-left: 24px;
    padding-right: 26px;
    padding-top: 17px;
    padding-bottom: 15px;
    position: absolute;
    bottom: 62px;
    right: 57px;
  }

  .video-block__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }

  .video-block__title-text {
    margin-left: 0;
    width: 150px;
    margin-top: 15px;
    margin-bottom: 33px;
  }

  .video-block__text {
    width: 242px;
    padding-bottom: 100px;
    margin: 0;
  }
}
