.video {
  position: absolute;
  top: 93px;
  height: 150px;
  overflow: hidden;
}

.video__img {
  max-width: 100%;
}

.video__img-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .video {
    position: relative;
    top: 0;
    height: auto;

    &:hover .video__img-play {
      width: 120px;
    }

    &:active .video__img-play {
      width: 80px;
      opacity: 0.3;
    }
  }

  .video-wrapper {
    &:hover {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .video__img {
    width: 668px;
    height: 455px;
  }
}

@media (min-width: 1050px) {
  .video {
    width: 682px;
    height: 455px;
  }

  .video-wrapper {
    width: 367px;
    padding-left: 80px;
    padding-top: 41px;
    box-sizing: border-box;
  }

  .video__img {
    width: 100%;
  }
}
