.video {
  position: relative;
}

.video__img-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.video-block__title {
  margin-left: 34px;
  display: flex;
  align-items: center;
}

.video-block__title-text {
  margin-left: 25px;
}

