.form {
  width: 260px;
  margin: auto;
  margin-bottom: 30px;
}

.form__wrap {
  display: flex;
  flex-wrap: wrap;
}

.form__radio {
  display: none;
}

.form__section-title {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  color: #63d1bb;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 34px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 198px;
    height: 1px;
    background-color: #63d1bb;
    right: 0;
    top: 7px;
  }
}

.form__section-title--padding {
  margin-bottom: 29px;
  margin-top: 2px;
}

.form__radio-wrap {
  margin-bottom: 21px;
}

.form__radio-label {
  position: relative;
  width: 180px;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 23px;
  padding-left: 63px;

  &::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    border: 2px solid #444444;
    border-radius: 50%;
    left: 0;
    top: -10px;
  }

  &::before {
    content: none;
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #62d1ba;
    border-radius: 50%;
    left: 12px;
    top: 2px;
  }
}

.form__radio:checked + .form__radio-label::before {
  content: "";
}

.form__checkbox {
  display: none;
}

.form__checkbox-label {
  position: relative;
  width: 180px;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  padding-left: 62px;
  margin-bottom: 41px;
  margin-top: 2px;

  &::before {
    content: "";
    position: absolute;
    width: 36px;
    height: 35px;
    border: 2px solid #444444;
    left: 0px;
    top: -12px;
  }

  &::after {
    content: none;
    position: absolute;
    width: 43px;
    height: 40px;
    background-image: url("../img/tick-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    left: -2px;
    top: -12px;
  }
}

.form__checkbox:checked + .form__checkbox-label::after {
  content: "";
}

::-webkit-input-placeholder {
  color: #cacaca;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

::-moz-placeholder {
  color: #cacaca;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

:-moz-placeholder {
  color: #cacaca;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

:-ms-input-placeholder {
  color: #cacaca;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.form__field-headline {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
}

.form__field {
  width: 260px;
  border: none;
  border-bottom: 2px solid #000000;
  margin-bottom: 17px;
  margin-top: 17px;
  padding-bottom: 16px;
}

.form__field-label {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.form__field-label--green {
  position: relative;
  color: #63d1bb;
  width: 260px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 188px;
    height: 1px;
    background-color: #63d1bb;
    left: 72px;
    top: 10px;
  }
}

.form__warning {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
}

.form__field-textarea {
  width: 240px;
  font-size: 17px;
  font-weight: 400;
  color: #444444;
  letter-spacing: 0.7px;
  padding: 10px;
  border: 2px solid #444444;
  padding-bottom: 100px;
  resize: none;
  overflow: auto;
}

.form__btn {
  display: block;
  width: 260px;
  margin: auto;
  line-height: 16px;
  color: #444444;
  margin-top: 20px;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 26px 16px 26px;
  border: 2px solid #444444;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .form {
    width: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .form__field {
    width: 320px;
    margin: 0;
    padding: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-grow: 1;
    margin-bottom: 20px;
    padding-left: 18px;
  }

  .form__field-headline {
    display: flex;
    align-items: center;
    margin-right: 25px;
    padding-bottom: 28px;
  }

  .form-block__wrapper {
    width: auto;
    margin: 0 auto;
  }

  .form__wrap {
    width: 501px;
    display: flex;
    flex-wrap: wrap;
  }

  .form__field-wrap {
    width: 668px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .form__field-wrap-background {
    background-color: #f1f1f1;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 30px;
  }

  .form__field--phone {
    width: 350px;
    background-color: #f1f1f1;
  }

  .form__field--email {
    width: 350px;
    background-color: #f1f1f1;
  }

  .form__field-label {
    width: 167px;
    padding-top: 15px;
  }

  .form__radio-wrap {
    width: 668px;
    margin: 0 auto;
    display: flex;
  }

  .form__checkbox-background {
    margin: 0 auto;
    background-color: #f1f1f1;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .form__wrapper {
    width: 668px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .form__checkbox-wrap {
    width: 668px;
    margin: 0 auto;
    display: flex;
  }

  .form__section-title {
    margin: 0;
    width: 167px;

    &::before {
      content: none;
    }
  }

  .form__section-title--padding {
    padding-top: 13px;
    box-sizing: border-box;
  }

  .form__field-label--green {
    &::after {
      content: none;
    }
  }

  .form__radio-label {
    width: 400px;
    font-size: 19px;
    line-height: 18px;
    margin-bottom: 50px;
  }

  .form__checkbox-label {
    width: 150px;
  }

  .form__field-textarea {
    padding-left: 15px;
    padding-bottom: 106px;
  }

  .form__field--phone ::-webkit-input-placeholder {
    font-size: 19px;
    background-color: #f1f1f1;
  }

  .form__field--phone ::-moz-placeholder {
    font-size: 19px;
    background-color: #f1f1f1;
  }

  .form__field--phone :-moz-placeholder {
    font-size: 19px;
    background-color: #f1f1f1;
  }

  .form__field--phone :-ms-input-placeholder {
    font-size: 19px;
    background-color: #f1f1f1;
  }

  ::-webkit-input-placeholder {
    font-size: 19px;
  }

  ::-moz-placeholder {
    font-size: 19px;
  }

  :-moz-placeholder {
    font-size: 19px;
  }

  :-ms-input-placeholder {
    font-size: 19px;
  }

  .form__wrap-warning-btn {
    width: 668px;
    margin: 0 auto;
    display: flex;
  }

  .form__warning {
    order: 1;
    align-self: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 17px;
    line-height: 30px;
  }

  .form__btn {
    margin: auto;
    margin-left: 0;
    width: 230px;
  }
}

@media (min-width: 1050px) {
  .form__radio-wrap {
    width: 1050px;
  }

  .form__section-title {
    width: 175px;
    text-align: center;
  }

  .form__wrap {
    width: 875px;
  }

  .form__checkbox-wrap {
    width: 1050px;
  }

  .form__checkbox-label {
    width: 210px;
  }

  .form__wrapper {
    width: 1050px;
  }

  .form__wrap--width {
    width: 700px;
  }

  .form__field {
    width: 550px;
  }

  .form__field-wrap {
    width: 1050px;
  }

  .form__field-label {
    text-align: center;
    width: 175px;
  }

  .form__field--phone {
    box-sizing: border-box;
    width: 700px;
    flex-grow: 0;
    margin-right: 50px;
  }

  .form__field--email {
    box-sizing: border-box;
    width: 700px;
    flex-grow: 0;
  }

  .form__field-textarea {
    max-width: 685px;
  }

  .form__wrap-warning-btn {
    width: 700px;
  }
}
