.form__section-title {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  color: #63d1bb
}
.form__radio-label {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
}
.form__checkbox-label {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
}
.form__field-headline {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
}
.form__field-label {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
}
.form__field-label--green {
  color: #63d1bb;
}
.form__warning {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
}
.form__field-textarea {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 18px;
  color: #444444
}
.form__btn {
  line-height: 16px;
  color: #444444
}
